<div class="login">
  <div class="login__container">
    <div class="login__item welcome_login">
      <h4 class="login__item--subtitle">
        LOS CLIENTES DE NUESTROS SOCIOS DE NEGOCIO SON NUESTROS CLIENTES
      </h4>
      <h2 class="login__item--desc">Bienvenido, inicia sesión</h2>
    </div>
    <div class="login__item">
      <form
        class="frmlogin"
        [formGroup]="loginForm"
        (ngSubmit)="RequestSignUp($event)"
      >
        <label
          class="frmlogin__inputs placeholder placeholder-active"
          for="username"
          aria-placeholder="Usuario"
        >
          <i class="fa fa-user icon-right" aria-hidden="true"></i>
          <input
            type="text"
            class="frmlogin__inputs--in placeholder-active"
            id="username"
            formControlName="usuario"
            autocomplete="new-usuario"
            spellcheck="false"
            #username
          />
          <small
            *ngIf="hasErrorInput('usuario')"
            class="hasError mensaje-error-control"
            >El nombre de usuario es obligatorio</small
          >
        </label>
        <label
          class="frmlogin__inputs placeholder placeholder-active"
          for="password"
          aria-placeholder="Contraseña"
        >
          <i class="fa fa-lock icon-right" aria-hidden="true"></i>
          <input
            type="password"
            class="frmlogin__inputs--in placeholder-active"
            id="password"
            formControlName="clave"
          />
          <small
            *ngIf="hasErrorInput('clave')"
            class="hasError mensaje-error-control"
            >La contrase&ntilde;a es obligatoria</small
          >
        </label>
        <a routerLink="../retrieve" class="login__item--forget">
          <span>Olvid&eacute; mi Contrase&ntilde;a</span>
        </a>
        <div class="frmlogin__inputs">
          <button
            type="submit"
            class="frmlogin__inputs--in frmlogin__inputs--submit"
            [disabled]="loading || loginForm.invalid"
          >
            Ingresar
          </button>
          <small *ngIf="error" class="hasError alert alert-danger">{{
            error
          }}</small>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #modalUpdatePassword="bs-modal" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                (click)="closeModals()"
                >
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-emitido text-center">
                <h5>{{ message }}</h5>
            </div>
            <div
                class="modal-footer modal-foot-confirm d-flex align-items-center justify-content-center"
            >
                <button type="button" class="btn btn-orange" (click)="closeModals()">
                Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="captcha">
  <re-captcha
    #captchaRef="reCaptcha"
    (resolved)="resolved($event)"
    siteKey="{{ siteKey }}"
    badge="bottomrigth"
    size="invisible"
  ></re-captcha>
</div>

<app-otp-auth-aws 
  *ngIf="showOtpAuthAws"
  [idProcessUser]="idProcessUser"
  (close)="closeModalOtp()"
  (resendCode)="resendToken()"
  (result)="resultToken($event)">
</app-otp-auth-aws>